img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  /* margin-left: 80px; */
  padding-bottom: 0;
}

.number-input {
  width: 80px;
  text-align: center;
}

.product-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  overflow: none;
  min-height: 300px;
  padding: 30px;

}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
